@import "tailwindcss";
@import "@heroui/styles";

/* Global reset for all browsers */

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
